<template>
  <base-container>
    <a-card class="card">
      <!-- <p>กรองข้อมูล</p>
      <p>
        ชนิดงาน:
        <span class="cl-primary">เก็บเกี่ยว</span>,
        จังหวัด:
        <span class="cl-primary">จันทบุรี</span>,
      </p> -->
      <div class="dp-flex jtf-ct-flex-end">
        <!-- <a-button class="oa-button is-primary" icon="search">
          ค้นหาอย่างละเอียด
        </a-button> -->
        <a-button class="oa-button is-primary" style="margin-left: 10px" @click="$router.push('/account/employment')">
          สร้างาน
        </a-button>
      </div>
    </a-card>
    <!-- <a-card class="card employment__container mg-t-21px">
      <section class="employment__form">
        <h2 class="employment__title">จ้างงาน</h2>
        <a-row :gutter="20">
          <a-col
            class="pd-vtc-10px"
            :lg="{ span: 8 }"
            v-for="n in 9"employmentType
            :key="n">
            <a-card class="card" hoverable>
              <img class="pd-all-15px" src="~/assets/images/corn.jpg" alt="employment-avatar" slot="cover">
              <div class="f-w-500 cl-primary">เก็บเกี่ยวเก่ง</div>
              <div class="mg-bt-10px">นางรอง, นครนายก</div>
              <div>สามารถเก็บผลผลิตส้ม และคัดกรองได้</div>
              <div>ทีมงานคุณภาพ 20 คน</div>
              <div>มีรถกระบะเสริมเหล็ก</div>
              <div>ติดต่อ <span class="cl-primary">0123456789</span></div>
            </a-card>
          </a-col>
        </a-row>
      </section>
    </a-card> -->
    <a-card class="card farm__container mg-t-21px">
      <section class="farm__form">
        <h2 class="farm__title">
          จ้างงาน
        </h2>
        <a-row :gutter="20" :style="{ minHeight: '384px' }">
          <a-col v-for="employment in employments" :key="employment.id" class="pd-vtc-10px is-wrapped" :md="{ span: 8 }">
            <a-card class="card info" hoverable @click="moreDetail(employment.id)">
              <div
                slot="cover"
                class="pd-all-15px img-wrapper"
                alt="farm-avatar"
                :style="{ backgroundImage: `url('${mapMediaPath(employment.thumbnailUrl)}')`}"
              />
              <div class="f-w-500 cl-primary">
                {{ employment.name }}
              </div>
              <div class="mg-bt-10px">
                {{ employment.districts.th }}, {{ employment.province.th }}
              </div>
              <div>ประเภท {{ employmentType(employment.employmentType) }}</div>
              <div>รายละเอียด {{ employment.detail }}</div>
              <div>ทีมงานคุณภาพ <span class="cl-primary">{{ employment.numWokers }}</span> คน</div>
              <div>ติดต่อ <span class="cl-primary">{{ employment.phoneNumber }}</span></div>
            </a-card>
          </a-col>
        </a-row>
      </section>
      <a-pagination
        v-model="currentPage"
        class="mg-t-24px t-al-end"
        :total="employmentsPage.count"
        :page-size="12"
        @change="onChangePage"
      />
    </a-card>
  </base-container>
</template>

<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'
const DEFAULT_MEDIA = require('~/assets/images/corn.jpg')
export default {
  name: 'EmploymentPage',
  layout: 'gray-background',
  middleware: 'authenticated',
  data () {
    return {
      currentPage: +this.$route.query.page || 1,
      searchData: {}
    }
  },
  computed: {
    employments: get('employment/employments'),
    employmentsPage: get('employment/employmentsPage')
  },
  watchQuery: ['page'],
  methods: {
    ...call('employment', [
      'fetchEmployments'
    ]),
    ...mapWaitingActions('employment', {
      fetchEmployments: 'base loading'
    }),
    mapMediaPath (media) {
      return media || DEFAULT_MEDIA
    },
    reduceObjectNumber (obj) {
      return Object.keys(obj).reduce((acc, key) => { return { ...acc, [key]: +obj[key] } }, {})
    },
    onChangePage (page) {
      // this.$router.push({ name: 'article', query: { page } })
    },
    initArticles () {
      const reduceObjectNumber = obj => Object.keys(obj).reduce((acc, key) => { return { ...acc, [key]: +obj[key] } }, {})
      this.searchData = this.$route.query
        ? reduceObjectNumber(this.$route.query)
        : undefined
      console.log(this.searchData)
      this.fetchEmployments({ ...this.searchData })
    },
    moreDetail (id) {
      console.log(id)
      this.$router.push({ name: 'employment-id', params: { id } })
    },
    employmentType (type) {
      if (type === 'HARVEST') {
        return 'เก็บเกี่ยว'
      } else if (type === 'CUT') {
        return 'ตัด'
      } else {
        return '-'
      }
    }
  },
  mounted () {
    this.initArticles()
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.farm {
  &__container {
    @media only screen and (min-width: 480px) {
      min-height: 576px;
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 24px;
    padding-bottom: 10px;
    .end-line();
  }
  &__content {
    padding: 0 33px;
  }
}

.img-wrapper {
  height: 220px;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.title {
  font-size: 2.0rem;
}
.info {
  min-height: 150px;
}
.preview {
  margin-top: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
</style>
