<template>
  <div>
    <account-container
      title="ฟาร์ม"
      :action-title="user.isGardener ? 'เพิ่มฟาร์มใหม่' : ''"
      action-link="/account/farm/add"
    >
      <farm-list
        v-if="userFarms.length > 0"
        :farms-list="userFarms"
      />
      <farm-verify v-else-if="!user.isGardener" />
      <farm-none v-else />
    </account-container>
  </div>
</template>

<script>
import { get } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'
import FarmNone from '~/components/account/FarmNone.vue'
import FarmVerify from '~/components/account/FarmVerify.vue'

const FarmList = () => import('~/components/account/FarmList.vue')

export default {
  components: {
    AccountContainer,
    FarmNone,
    FarmList,
    FarmVerify
  },
  layout: 'account',
  middleware: 'authenticated',
  computed: {
    userFarms: get('auction/userFarms'),
    user: get('auth/user')
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auction/fetchUserFarms')
    } catch (e) {

    }
  }
}
</script>
